@page {
    size: 21.0cm 29.7cm;
}

@page :left {
    margin: 30mm 10mm 15mm 20mm;
    @top-left {
        content: "Side " counter(page);
    }
    @top-right {
        content: "Venstreside";
        font-variant: small-caps
    }
    @bottom-left {
        content: "Side " counter(page) " av " counter(pages);
        font-size: 10pt;
        font-family: 'Times New Roman', Times, serif;
    }
    @top-center {
        content: "Endringar i kostnadsrammer for samlokaliseringsprosjektet ved Campus Ås";
        font-size: 8pt;
    }
}

@page :right {
    margin: 20mm 15mm 12mm 10mm;
    @top-left {
        content: "Høyreside";
        font-variant: small-caps;
    }
    @top-right {
        content: "Side " counter(page);
    }
    @bottom-right {
        content: "Side " counter(page) " av " counter(pages);
        font-family: 'Times New Roman', Times, serif;
    }
}

@page :blank {
    @top-right {
        content: none;
    }
    @top-center {
        content: "Denne siden er intensjonelt blank";
    }
    @top-left {
        content: none;
    }
}

h1 {
    text-align: center;
    width: 100%;
    margin: 3px;
}

h1.K-TIT-PUBLIKASJONSTITTEL {
    width: 100%;
    padding: 0px;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    margin-top: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    white-space: normal;
    /* page-break-before: always; */
}

h2 {
    width: 100%;
    text-align: center;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
}

p {
    font-size: 11pt;
}

.K-TIT-TITTEL {
    text-align: center;
    font-size: 25;
    font-weight: lighter;
    border-top: solid 1px black;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    width: 90%;
    margin-bottom: 0px;
}

.K-TIT-SESJON {
    text-align: center;
    width: 100%;
    margin-top: 0px;
}

.K-DEL-INNLDEL {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.K-TIT-HTIT {
    width: 100%;
    text-align: center;
}

.K-TIT-KAPITTEL {
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    border-bottom: solid 1px #000;
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    ;
}

.K-DEL-HOVEDDEL {
    columns: 2;
    margin: top 0px;
    padding-top: 0px;
}

p.K-TILRADNING {
    width: 100%;
    font-style: italic;
    font-size: 10pt;
    text-align: center;
    white-space: pre-line;
    padding-left: 23%;
}

.K-TIT-TILRSTAD {
    visibility: hidden;
}

.K-TILRAR {
    text-align: center;
    letter-spacing: 1.3mm;
    padding-left: 40%;
}

.K-DEL-KONGESIDE {
    break-before: always;
    column-span: all;
}

.K-KONGE {
    column-span: all;
    font-weight: normal;
}

.K-KONGE b {
    font-weight: normal;
}

.K-STADFESTER {
    column-span: all;
    letter-spacing: 1.5mm;
    text-align: center;
    padding-left: 40%;
}

h2.K-TIT-VEDTAKDEL {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    padding-top: 0px;
    margin-top: 0px;
}

.K-PDFLINK {
    visibility: hidden;
}

.K-TIT-SEKSJON {
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    margin: 0pt;
    text-align: left;
}

.K-TIT-VEDTAK {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 18pt;
}

.K-TIT-VEDTAKFORSLAG {
    line-height: 60pt;
}

.K-DEL-VEDTAKDELER {
    padding-top: 0px;
    columns: 2;
    margin-top: 0px;
}

.K-DEL-VEDTAKDEL {
    break-inside: avoid-column;
}

.K-DEL-TILRSTAD {
    columns: 1;
    column-count: unset;
}

h3.forside {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.hodetittel {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.underheading {
    font-weight: bold;
    text-align: left;
}

.section {
    text-align: justify;
    text-align-last: left;
    margin-bottom: 50px;
}

p {
    text-align: justify;
    text-align-last: left;
    padding: 1px;
    margin-bottom: 3px;
    margin-top: 1px;
}

.break {
    page-break-after: always;
    break-after: always;
}

.standard_tabell {
    width: 100%;
    padding: 15px;
    margin: auto;
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgb(117, 176, 248);
    font-family: arial;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    box-shadow: 5px 10px 10px #888;
}

.standard_tabell th {
    background-color: #444;
    color: white;
    margin: 0px;
}

.standard_tabell td {
    border: solid 1px #555;
    padding: 5px;
    margin: 0px;
}

.standard_tabell .bunnlinje {
    border: solid 1px #555;
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    color: #011835;
}

.standard_tabell tr:nth-child(even) {
    background-color: rgb(95, 159, 248);
}

.standard_tabell tr:hover {
    background-color: #ddd;
}

.right-adjust {
    text-align: right;
}

.center-adjust {
    text-align: center;
}

ol.toc a::after {
    content: leader('.') target-counter(attr(href url), page);
}

.side {
    font-family: 'Courier New', Courier, monospace;
    page-break-after: always;
}