@page {

@top-left-corner {
    content: "@top-left-corner";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@top-left {
    content: "@top-left";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@top-center {
    content: "@top-center";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@top-right {
    content: "@top-right";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@top-right-corner {
    content: "@top-rightcorner";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}

@bottom-left-corner {
    content: "@bottom-left-corner";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@bottom-left {
    content: "@bottom-left";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@bottom-center {
    content: "@bottom-center";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@bottom-right {
    content: "@bottom-right";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@bottom-right-corner {
    content: "@bottom-rightcorner";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}

@left-top {
    content: "@left-top";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@left-middle {
    content: "@left-middle";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@left-bottom {
    content: "@left-bottom";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}

@right-top {
    content: "@right-top";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@right-middle {
    content: "@right-middle";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}
@right-bottom {
    content: "@right-bottom";
    border: 1px solid red;
    color: black;
    font-size: x-small;
}

}

h1, h2, p {
    text-align:center;
}
