body {
 background-color: #eee;
 padding: 10px;
}

h1 {
width: 900px;
padding:15px;
margin: auto;
border: solid 2px black;
border-radius: 10px;
background-color: #05387b;
font-family: arial;
box-shadow: 5px 10px 10px #888;
font-size: 26px;
color: #fff;
text-align: center;
background-image: url("https://itfakultetet.no/sparebank-1-forsikring.jpg");
background-repeat: no-repeat;
background-position: right;
}

h2 {
width: 900px;
text-align: center;
padding: 3px;
background-color:#444;
color:#fff;
margin-left:auto;
margin-right:auto;
font-family: arial;
font-weight: bold;
font-size: 24px;
}

.standard_tabell {
width: 900px;
padding:15px;
margin: auto;
border: solid 2px black;
border-radius: 10px;
background-color: #49F;
font-family: arial;
font-size: 18px;
box-shadow: 5px 10px 10px #888;
}

.standard_tabell th {
background-color:#444;
color: white;
margin: 0px;
}

.standard_tabell td {
 border: solid 1px #555;
 padding: 5px;
 margin: 0px;
}

.standard_tabell tr:nth-child(even){
background-color: #38f;
}

.standard_tabell tr:hover {
background-color: #ddd;
}


.right-adjust {
text-align: right;
}

.center-adjust {
text-align: center;
}


